<h1><center>Honey, I Shrunk the URL</h1>

  <br>

<h2><center> <%= form_for @url do |f| %>
    <%= f.label :full_url, "Enter your super extra long url" %><br>
    <%= f.text_field :full_url %>
    <%= f.submit "shrink this url" %>
  <% end %>
</h2>

<br>
<br>
<br>
<br>

<h3><center>These are the URLs that you hath previously shrunk</h3>

<br>
<br>
<div id="search-form"><center>
  <label for="searchbox"> Search previous URLS</label>
  <input type="text" id="searchbox">
</div>
<br>
<br>
<center><div>
  <table class="">
    <thead>
      <tr>
        <th class="text-center">Super Extra Crazy Unacceptably Long URL</th>
        <th class="text-center">URL Hath been Shrunk</th>
        <th class="text-center">This URL was shrunk at</th>
        <th class="text-center">Rank</th>
      </tr>
    </thead>

    <tbody>
    <tr>
      <% @urls.each do |url| %>
        <td><%= url.full_url %></td>
        <td><%= url.slug %></td>
        <td><%= url.created_at.strftime("%m/%d/%y %l:%M") %>
        <td><%= url.rank %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>